@import url("https://unpkg.com/normalize.css") layer(normalize);
@layer normalize, base, components, svg;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  button {
    all: unset;
    cursor: pointer;
    border-radius: 100%;
  }
}

@layer components {
  .like-button {
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
  }

  .like-icon {
    transition: color 0.3s ease;
  }

  .like-button.liked .like-icon {
    color: oklch(0.65 0.24 22);
  }

  .like-particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: oklch(0.65 0.24 var(--hue, 22) / 0.6);
    border-radius: 100%;
    animation: particle var(--animation-duration, 500ms) ease-in-out forwards,
      twinkle var(--twinkle-animation-duration, 250ms) infinite alternate
        ease-in-out 500ms,
      fade-out 300ms 2000ms forwards;
  }

  @keyframes particle {
    0% {
      transform: translate(0, 0) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(var(--tx), var(--ty)) scale(1);
    }
  }

  @keyframes twinkle {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}

@layer svg {
  button.liked svg circle {
    animation: ripple 500ms ease;
    fill: oklch(0.75 0 22 / 0.35);
    r: 24;
  }

  @keyframes ripple {
    0% {
      opacity: 0;
      stroke-width: 12;
      fill: oklch(0.75 0.12 22 / 0.35);
      stroke: oklch(0.75 0.12 22 / 0.35);
      r: 0;
    }

    100% {
      opacity: 1;
      stroke-width: 1;
      fill: oklch(0.75 0.12 22 / 0.35);
      stroke: oklch(0.75 1 22 / 0.35);
      r: 23;
    }
  }
}
