@import url("https://unpkg.com/normalize.css") layer(normalize);
@layer normalize, base, components;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  button {
    all: unset;
    cursor: pointer;
    border-radius: 100%;
  }
}

@layer components {
  .like-button {
    display: flex;
    position: relative;
    width: 104px;
    height: 104px;
    align-items: center;
    justify-content: center;
  }

  .like-icon {
    transition: color 0.3s ease;
  }

  .like-button.liked .like-icon {
    color: oklch(0.65 0.24 22);
    transform: scale(0);
    animation: like 0.3s ease forwards;
    animation-delay: 0.3s;
  }

  @keyframes like {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }

  .like-ripple {
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: oklch(0.75 0.12 22 / 0.35);
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  .like-button.liked .like-ripple {
    animation: ripple 0.3s ease forwards;
  }

  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .like-particle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: oklch(0.65 0.24 var(--hue, 22) / 0.6);
    border-radius: 100%;
    animation: particle var(--animation-duration, 500ms) ease-in-out forwards,
      twinkle var(--twinkle-animation-duration, 250ms) infinite alternate
        ease-in-out 500ms,
      fade-out 300ms 2000ms forwards;
  }

  @keyframes particle {
    0% {
      transform: translate(0, 0) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(var(--tx), var(--ty)) scale(1);
    }
  }

  @keyframes twinkle {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}
